# Build results
Backend/[Dd]ebug/
Backend/[Dd]ebugPublic/
Backend/[Bb]in/
Backend/[Oo]bj/
Backend/[Ll]og/
Backend/[Ll]ogs/
Backend/**/*.txt
Backend/**/*.db

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
Backend/*.nupkg
# NuGet Symbol Packages
Backend/*.snupkg

# NUnit
Backend/*.VisualState.xml
Backend/TestResult.xml
Backend/nunit-*.xml

Backend/**/.env
Backend/**/env/
Backend/**/ENV/

# IDE's
.idea/
.vscode/
.DS_Store